<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.zhzhair.flowstatistic.dataview.mapper.AppRecordCountMapper">

    <select id="getActiveCount" resultType="com.github.zhzhair.flowstatistic.dataview.dto.response.AppChannelCount">
        select app_channel appChannel, count(distinct device_id) activeCount
        from ${tableName}
        <where>
            <if test="appVersions != null and appVersions.length > 0">
                app_version in
                <foreach collection="appVersions" item="item" index="index" open="(" separator="," close=")">
                    #{item, jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
        group by app_channel
    </select>

    <select id="getMonthOrDayActiveCountDays" resultType="java.lang.Integer">
        select count(distinct device_id) from ${tableName}
    </select>
</mapper>