<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.zhzhair.flowstatistic.user.mapper.UserActionMapper">

    <update id="truncateTable">
        truncate table ${tableName}
    </update>

    <insert id="addLoginHistory">
        insert into user_login (user_id,ip,create_time)
        values (#{userId},#{ip},#{createTime})
    </insert>

    <insert id="addRegisterHistory">
        insert into user_register (user_id,mobile,ip,create_time)
        values (#{userId},#{mobile},#{ip},#{createTime})
    </insert>
</mapper>
